n8n/02-deadlines-vencidas.json
{
  "name": "WF2 — Deadlines Vencidas",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 8 * * *" }]
        }
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000001",
      "name": "Cron 8am Diario",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/tickets",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "deadline", "value": "=lt.{{ $now.toFormat('yyyy-MM-dd') }}" },
            { "name": "status", "value": "neq.done" },
            { "name": "select", "value": "id,title,priority,estimate_hours,risk_pct,deadline,status,assignee_id,project_id,members(id,name,email),projects(id,name)" }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Obtener Tickets Vencidos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "typeValidation": "loose" },
          "conditions": [
            {
              "id": "has-results",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000003",
      "name": "Hay Vencidos?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Supabase devuelve un array en $input.first().json cuando se usa REST API.\n// Aplanar y calcular días de atraso por cada ticket.\nconst tickets = $input.first().json;\nconst today = new Date();\n\nreturn tickets.map(t => {\n  const deadline = new Date(t.deadline);\n  const daysOverdue = Math.floor((today - deadline) / (1000 * 60 * 60 * 24));\n  const member = t.members || {};\n  const project = t.projects || {};\n  return {\n    json: {\n      ticket_id: t.id,\n      title: t.title,\n      priority: t.priority,\n      estimate_hours: t.estimate_hours,\n      risk_pct: t.risk_pct,\n      deadline: t.deadline,\n      status: t.status,\n      days_overdue: daysOverdue,\n      assignee_id: t.assignee_id,\n      assignee_name: member.name || 'Sin asignar',\n      assignee_email: member.email || '',\n      project_id: t.project_id,\n      project_name: project.name || 'Sin proyecto'\n    }\n  };\n});"
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000004",
      "name": "Procesar Tickets Vencidos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "jsCode": "// Agrupa todos los tickets por assignee_email y construye\n// un email consolidado para cada developer (no spam por ticket).\nconst items = $input.all();\nconst byAssignee = new Map();\n\nfor (const item of items) {\n  const t = item.json;\n  if (!t.assignee_email) continue;\n  if (!byAssignee.has(t.assignee_email)) {\n    byAssignee.set(t.assignee_email, { name: t.assignee_name, email: t.assignee_email, assignee_id: t.assignee_id, tickets: [] });\n  }\n  byAssignee.get(t.assignee_email).tickets.push(t);\n}\n\nconst result = [];\nfor (const [email, data] of byAssignee) {\n  const rows = data.tickets.map(t =>\n    `<tr>\n      <td style=\"padding:8px 12px;border-top:1px solid #e5e5e5\">${t.title}</td>\n      <td style=\"padding:8px 12px;border-top:1px solid #e5e5e5\">${t.project_name}</td>\n      <td style=\"padding:8px 12px;border-top:1px solid #e5e5e5\">${t.priority}</td>\n      <td style=\"padding:8px 12px;border-top:1px solid #e5e5e5;color:#dc2626;font-weight:600\">${t.days_overdue} día${t.days_overdue !== 1 ? 's' : ''}</td>\n    </tr>`\n  ).join('');\n\n  result.push({\n    json: {\n      assignee_email: email,\n      assignee_name: data.name,\n      assignee_id: data.assignee_id,\n      ticket_count: data.tickets.length,\n      tickets: data.tickets,\n      email_html: `<div style=\"font-family:sans-serif;max-width:600px;margin:0 auto\">\n  <h2 style=\"color:#dc2626\">⏰ Tenés ${data.tickets.length} ticket${data.tickets.length !== 1 ? 's' : ''} vencido${data.tickets.length !== 1 ? 's' : ''}</h2>\n  <p>Hola <strong>${data.name}</strong>, los siguientes tickets superaron su fecha límite:</p>\n  <table style=\"border-collapse:collapse;width:100%\">\n    <tr style=\"background:#111;color:#fff\">\n      <th style=\"padding:8px 12px;text-align:left\">Ticket</th>\n      <th style=\"padding:8px 12px;text-align:left\">Proyecto</th>\n      <th style=\"padding:8px 12px;text-align:left\">Prioridad</th>\n      <th style=\"padding:8px 12px;text-align:left\">Días de atraso</th>\n    </tr>\n    ${rows}\n  </table>\n  <p style=\"margin-top:16px\">Por favor actualizá el estado de estos tickets o coordiná con tu manager.</p>\n  <p style=\"color:#6b7280;font-size:13px\">Meeting → Tickets PM · Cursor Buildathon 2026</p>\n</div>`\n    }\n  });\n}\n\nreturn result;"
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000005",
      "name": "Agrupar por Developer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "typeValidation": "loose" },
          "conditions": [
            {
              "id": "has-email",
              "leftValue": "={{ $json.assignee_email }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000006",
      "name": "Tiene Email?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.SMTP_FROM }}",
        "toEmail": "={{ $json.assignee_email }}",
        "subject": "=⏰ Tenés {{ $json.ticket_count }} ticket{{ $json.ticket_count > 1 ? 's' : '' }} vencido{{ $json.ticket_count > 1 ? 's' : '' }} pendientes",
        "emailFormat": "html",
        "message": "={{ $json.email_html }}",
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000007",
      "name": "Email a Developer",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1560, 200],
      "credentials": { "smtp": { "id": "smtp-cred-id", "name": "SMTP" } }
    },
    {
      "parameters": {
        "jsCode": "// Obtener manager_email de la variable de entorno o del primer manager del equipo.\n// Aquí construimos el resumen global para el manager.\nconst items = $input.all();\nconst allTickets = items.flatMap(i => i.json.tickets || []);\n\nconst byProject = new Map();\nfor (const t of allTickets) {\n  if (!byProject.has(t.project_name)) byProject.set(t.project_name, []);\n  byProject.get(t.project_name).push(t);\n}\n\nlet projectSections = '';\nfor (const [project, pts] of byProject) {\n  const rows = pts.map(t =>\n    `<tr>\n      <td style=\"padding:6px 12px;border-top:1px solid #e5e5e5\">${t.title}</td>\n      <td style=\"padding:6px 12px;border-top:1px solid #e5e5e5\">${t.assignee_name}</td>\n      <td style=\"padding:6px 12px;border-top:1px solid #e5e5e5;color:#dc2626\">${t.days_overdue}d</td>\n    </tr>`\n  ).join('');\n  projectSections += `<h3 style=\"margin:20px 0 8px;color:#111\">${project} (${pts.length})</h3>\n  <table style=\"border-collapse:collapse;width:100%\">\n    <tr style=\"background:#f5f5f5\">\n      <th style=\"padding:6px 12px;text-align:left\">Ticket</th>\n      <th style=\"padding:6px 12px;text-align:left\">Asignado a</th>\n      <th style=\"padding:6px 12px;text-align:left\">Atraso</th>\n    </tr>${rows}</table>`;\n}\n\nreturn [{\n  json: {\n    total: allTickets.length,\n    manager_email: $env.MANAGER_EMAIL || '',\n    summary_html: `<div style=\"font-family:sans-serif;max-width:700px;margin:0 auto\">\n  <h2 style=\"color:#dc2626\">📊 Reporte diario: ${allTickets.length} ticket${allTickets.length !== 1 ? 's' : ''} vencido${allTickets.length !== 1 ? 's' : ''}</h2>\n  <p>Los siguientes tickets superaron su deadline y siguen sin completarse:</p>\n  ${projectSections}\n  <p style=\"color:#6b7280;font-size:13px;margin-top:24px\">Meeting → Tickets PM · ${new Date().toLocaleDateString('es-SV')}</p>\n</div>`\n  }\n}];"
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000008",
      "name": "Construir Resumen Manager",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "typeValidation": "loose" },
          "conditions": [
            {
              "id": "has-manager-email",
              "leftValue": "={{ $json.manager_email }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000009",
      "name": "Manager Tiene Email?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [2000, 200]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.SMTP_FROM }}",
        "toEmail": "={{ $json.manager_email }}",
        "subject": "=📊 Reporte diario: {{ $json.total }} ticket{{ $json.total > 1 ? 's' : '' }} vencido{{ $json.total > 1 ? 's' : '' }}",
        "emailFormat": "html",
        "message": "={{ $json.summary_html }}",
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000010",
      "name": "Email Resumen al Manager",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [2220, 200],
      "credentials": { "smtp": { "id": "smtp-cred-id", "name": "SMTP" } }
    },
    {
      "parameters": {
        "jsCode": "// Registra en la tabla notifications un log por cada developer notificado.\nconst items = $input.all();\nreturn items.map(item => ({\n  json: {\n    _insert_payload: JSON.stringify({\n      member_id: item.json.assignee_id || null,\n      channel: 'email',\n      template: 'deadline_overdue',\n      status: 'sent',\n      sent_at: new Date().toISOString(),\n      metadata: { ticket_count: item.json.ticket_count, to: item.json.assignee_email }\n    })\n  }\n}));"
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000011",
      "name": "Preparar Log Notificaciones",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2440, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/notifications",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json._insert_payload }}",
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000012",
      "name": "Log en Notifications",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2660, 200]
    }
  ],
  "connections": {
    "Cron 8am Diario": {
      "main": [
        [{ "node": "Obtener Tickets Vencidos", "type": "main", "index": 0 }]
      ]
    },
    "Obtener Tickets Vencidos": {
      "main": [
        [{ "node": "Hay Vencidos?", "type": "main", "index": 0 }]
      ]
    },
    "Hay Vencidos?": {
      "main": [
        [{ "node": "Procesar Tickets Vencidos", "type": "main", "index": 0 }]
      ]
    },
    "Procesar Tickets Vencidos": {
      "main": [
        [{ "node": "Agrupar por Developer", "type": "main", "index": 0 }]
      ]
    },
    "Agrupar por Developer": {
      "main": [
        [{ "node": "Tiene Email?", "type": "main", "index": 0 }]
      ]
    },
    "Tiene Email?": {
      "main": [
        [{ "node": "Email a Developer", "type": "main", "index": 0 }]
      ]
    },
    "Email a Developer": {
      "main": [
        [{ "node": "Construir Resumen Manager", "type": "main", "index": 0 }]
      ]
    },
    "Construir Resumen Manager": {
      "main": [
        [{ "node": "Manager Tiene Email?", "type": "main", "index": 0 }]
      ]
    },
    "Manager Tiene Email?": {
      "main": [
        [{ "node": "Email Resumen al Manager", "type": "main", "index": 0 }]
      ]
    },
    "Email Resumen al Manager": {
      "main": [
        [{ "node": "Preparar Log Notificaciones", "type": "main", "index": 0 }]
      ]
    },
    "Preparar Log Notificaciones": {
      "main": [
        [{ "node": "Log en Notifications", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "pinData": {},
  "meta": { "instanceId": "kb-buildathon-2026" },
  "id": "wf-deadlines-2026",
  "tags": [{ "id": "tag-pm", "name": "meeting-to-tickets" }]
}
