n8n/03-tickets-estancados.json
{
  "name": "WF3 — Tickets Estancados",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 9 * * *" }]
        }
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000001",
      "name": "Cron 9am Diario",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/ticket_status_events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "to_status", "value": "eq.in_progress" },
            { "name": "created_at", "value": "=lt.{{ $now.minus({days:3}).toISO() }}" },
            {
              "name": "select",
              "value": "ticket_id,to_status,created_at,tickets(id,title,priority,estimate_hours,risk_pct,deadline,assignee_id,project_id,members(id,name,email),projects(id,name))"
            },
            { "name": "order", "value": "created_at.asc" }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000002",
      "name": "Obtener Eventos in_progress Viejos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Filtra para quedarse solo con el evento MÁS RECIENTE por ticket_id.\n// Luego descarta los que ya cambiaron de in_progress (cruzando con el estatus actual del ticket).\n// La query ya filtra eventos `to_status = in_progress` con más de 3 días de antigüedad.\n// Aquí solo limpiamos duplicados (si un ticket tuvo varias entradas, nos quedamos con la más vieja).\nconst events = $input.first().json;\nif (!Array.isArray(events) || events.length === 0) return [];\n\n// Deduplica: un evento por ticket_id\nconst seen = new Set();\nconst unique = [];\nfor (const ev of events) {\n  if (!seen.has(ev.ticket_id)) {\n    seen.add(ev.ticket_id);\n    unique.push(ev);\n  }\n}\n\nconst today = new Date();\nreturn unique\n  .filter(ev => ev.tickets && ev.tickets.members) // solo tickets con asignado\n  .map(ev => {\n    const t = ev.tickets;\n    const member = t.members || {};\n    const project = t.projects || {};\n    const eventDate = new Date(ev.created_at);\n    const daysStalled = Math.floor((today - eventDate) / (1000 * 60 * 60 * 24));\n    return {\n      json: {\n        ticket_id: t.id,\n        title: t.title,\n        priority: t.priority,\n        estimate_hours: t.estimate_hours,\n        risk_pct: t.risk_pct,\n        deadline: t.deadline,\n        stalled_since: ev.created_at,\n        days_stalled: daysStalled,\n        assignee_id: t.assignee_id,\n        assignee_name: member.name || 'Sin asignar',\n        assignee_email: member.email || '',\n        project_id: t.project_id,\n        project_name: project.name || 'Sin proyecto',\n        escalate_to_manager: daysStalled > 5\n      }\n    };\n  });"
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Procesar Tickets Estancados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "typeValidation": "loose" },
          "conditions": [
            {
              "id": "has-email",
              "leftValue": "={{ $json.assignee_email }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000004",
      "name": "Tiene Asignado con Email?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.SMTP_FROM }}",
        "toEmail": "={{ $json.assignee_email }}",
        "subject": "=🚧 Tu ticket \"{{ $json.title }}\" lleva {{ $json.days_stalled }} días sin movimiento",
        "emailFormat": "html",
        "message": "=<div style=\"font-family:sans-serif;max-width:600px;margin:0 auto\">\n  <div style=\"background:#fffbeb;border-left:4px solid #d97706;padding:16px;border-radius:0 8px 8px 0;margin-bottom:20px\">\n    <h2 style=\"color:#d97706;margin:0 0 8px\">🚧 Ticket sin movimiento</h2>\n    <p style=\"margin:0\">El ticket <strong>{{ $json.title }}</strong> está en progreso desde hace <strong>{{ $json.days_stalled }} días</strong>.</p>\n  </div>\n  <p>Hola <strong>{{ $json.assignee_name }}</strong>,</p>\n  <p>Notamos que este ticket no ha tenido cambios de estado en los últimos días. ¿Necesitás ayuda o hay algún bloqueo?</p>\n  <table style=\"border-collapse:collapse;width:100%;margin:16px 0\">\n    <tr><td style=\"padding:8px 12px;background:#f5f5f5;font-weight:600\">Proyecto</td><td style=\"padding:8px 12px;border:1px solid #e5e5e5\">{{ $json.project_name }}</td></tr>\n    <tr><td style=\"padding:8px 12px;background:#f5f5f5;font-weight:600\">Prioridad</td><td style=\"padding:8px 12px;border:1px solid #e5e5e5\">{{ $json.priority }}</td></tr>\n    <tr><td style=\"padding:8px 12px;background:#f5f5f5;font-weight:600\">Horas estimadas</td><td style=\"padding:8px 12px;border:1px solid #e5e5e5\">{{ $json.estimate_hours }}h</td></tr>\n    <tr><td style=\"padding:8px 12px;background:#f5f5f5;font-weight:600\">Fecha límite</td><td style=\"padding:8px 12px;border:1px solid #e5e5e5\">{{ $json.deadline || 'Sin definir' }}</td></tr>\n    <tr><td style=\"padding:8px 12px;background:#f5f5f5;font-weight:600\">Estancado desde</td><td style=\"padding:8px 12px;border:1px solid #e5e5e5;color:#d97706\">{{ $json.days_stalled }} días</td></tr>\n  </table>\n  <p>Recordá actualizar el estado del ticket en el board cuando tengas avances.</p>\n  <p style=\"color:#6b7280;font-size:13px;margin-top:24px\">Meeting → Tickets PM · Cursor Buildathon 2026</p>\n</div>",
        "options": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000005",
      "name": "Email Aviso a Developer",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1120, 300],
      "credentials": { "smtp": { "id": "smtp-cred-id", "name": "SMTP" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/notifications",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"ticket_id\": \"{{ $json.ticket_id }}\",\n  \"member_id\": \"{{ $json.assignee_id }}\",\n  \"channel\": \"email\",\n  \"template\": \"stalled_ticket\",\n  \"status\": \"sent\",\n  \"sent_at\": \"{{ $now.toISO() }}\",\n  \"metadata\": { \"days_stalled\": {{ $json.days_stalled }}, \"to\": \"{{ $json.assignee_email }}\", \"escalated\": {{ $json.escalate_to_manager }} }\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000006",
      "name": "Log Notificacion Developer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "typeValidation": "loose" },
          "conditions": [
            {
              "id": "escalate-check",
              "leftValue": "={{ $json.escalate_to_manager }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000007",
      "name": "Escalar al Manager? (>5 dias)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.SMTP_FROM }}",
        "toEmail": "={{ $env.MANAGER_EMAIL }}",
        "subject": "=🔴 Escalación: \"{{ $json.title }}\" lleva {{ $json.days_stalled }} días bloqueado",
        "emailFormat": "html",
        "message": "=<div style=\"font-family:sans-serif;max-width:600px;margin:0 auto\">\n  <div style=\"background:#fef2f2;border-left:4px solid #dc2626;padding:16px;border-radius:0 8px 8px 0;margin-bottom:20px\">\n    <h2 style=\"color:#dc2626;margin:0 0 8px\">🔴 Escalación requerida</h2>\n    <p style=\"margin:0\">El ticket <strong>{{ $json.title }}</strong> asignado a <strong>{{ $json.assignee_name }}</strong> lleva <strong>{{ $json.days_stalled }} días sin movimiento</strong> (>5 días).</p>\n  </div>\n  <p>Se requiere tu intervención para desbloquear este ticket.</p>\n  <table style=\"border-collapse:collapse;width:100%;margin:16px 0\">\n    <tr><td style=\"padding:8px 12px;background:#f5f5f5;font-weight:600\">Asignado a</td><td style=\"padding:8px 12px;border:1px solid #e5e5e5\">{{ $json.assignee_name }}</td></tr>\n    <tr><td style=\"padding:8px 12px;background:#f5f5f5;font-weight:600\">Proyecto</td><td style=\"padding:8px 12px;border:1px solid #e5e5e5\">{{ $json.project_name }}</td></tr>\n    <tr><td style=\"padding:8px 12px;background:#f5f5f5;font-weight:600\">Prioridad</td><td style=\"padding:8px 12px;border:1px solid #e5e5e5\">{{ $json.priority }}</td></tr>\n    <tr><td style=\"padding:8px 12px;background:#f5f5f5;font-weight:600\">Riesgo</td><td style=\"padding:8px 12px;border:1px solid #e5e5e5;color:#dc2626;font-weight:600\">{{ $json.risk_pct }}%</td></tr>\n    <tr><td style=\"padding:8px 12px;background:#f5f5f5;font-weight:600\">Días estancado</td><td style=\"padding:8px 12px;border:1px solid #e5e5e5;color:#dc2626;font-weight:700\">{{ $json.days_stalled }} días</td></tr>\n    <tr><td style=\"padding:8px 12px;background:#f5f5f5;font-weight:600\">Deadline</td><td style=\"padding:8px 12px;border:1px solid #e5e5e5\">{{ $json.deadline || 'Sin definir' }}</td></tr>\n  </table>\n  <p style=\"color:#6b7280;font-size:13px;margin-top:24px\">Meeting → Tickets PM · Cursor Buildathon 2026</p>\n</div>",
        "options": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000008",
      "name": "Email Escalacion al Manager",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1780, 200],
      "credentials": { "smtp": { "id": "smtp-cred-id", "name": "SMTP" } }
    },
    {
      "parameters": {},
      "id": "a1b2c3d4-0003-0003-0003-000000000009",
      "name": "Sin Escalacion",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1780, 420]
    }
  ],
  "connections": {
    "Cron 9am Diario": {
      "main": [
        [{ "node": "Obtener Eventos in_progress Viejos", "type": "main", "index": 0 }]
      ]
    },
    "Obtener Eventos in_progress Viejos": {
      "main": [
        [{ "node": "Procesar Tickets Estancados", "type": "main", "index": 0 }]
      ]
    },
    "Procesar Tickets Estancados": {
      "main": [
        [{ "node": "Tiene Asignado con Email?", "type": "main", "index": 0 }]
      ]
    },
    "Tiene Asignado con Email?": {
      "main": [
        [{ "node": "Email Aviso a Developer", "type": "main", "index": 0 }]
      ]
    },
    "Email Aviso a Developer": {
      "main": [
        [{ "node": "Log Notificacion Developer", "type": "main", "index": 0 }]
      ]
    },
    "Log Notificacion Developer": {
      "main": [
        [{ "node": "Escalar al Manager? (>5 dias)", "type": "main", "index": 0 }]
      ]
    },
    "Escalar al Manager? (>5 dias)": {
      "main": [
        [{ "node": "Email Escalacion al Manager", "type": "main", "index": 0 }],
        [{ "node": "Sin Escalacion", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "pinData": {},
  "meta": { "instanceId": "kb-buildathon-2026" },
  "id": "wf-estancados-2026",
  "tags": [{ "id": "tag-pm", "name": "meeting-to-tickets" }]
}
